Source: luakit
Section: web
Priority: optional
Maintainer: Grégory DAVID <groolot@groolot.net>
Build-Depends: debhelper (>=9),
               libluajit-5.1-dev,
               libsqlite3-dev,
               libwebkit2gtk-4.0-dev,
               lua-filesystem-dev,
               luajit,
               pkg-config
Standards-Version: 3.9.8
Homepage: https://luakit.github.io/
Vcs-Git: https://github.com/luakit/luakit.git
Vcs-Browser: https://github.com/luakit/luakit

Package: luakit
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, lua-filesystem
Description: fast and small web browser extensible by Lua, WebKit2 based
 Luakit is a highly-configurable browser framework based on WebKit2GTK+.
 It is very fast and extensible by Lua.  It is primarily targeted at power
 users, developers and any people with too much time on their hands who
 want to have fine-grained control over their web browser's behaviour and
 interface.
