html {
    font-size: 14px;
	color: #333;
}
body {
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
}

#hdr {
    border-bottom: 1px solid #e0e5e6;
    background-color: #f6f8f8;
    margin-bottom: 1rem;
}

#hdr > h1 {
    color: #555;
    margin: 0 auto;
    max-width: 910px;
    padding: 1rem 2rem;
    font-size: 1rem;
}

#wrap {
    line-height: 1.3;
    padding: 2rem;
    margin: 0 auto;
    justify-content: center;
    max-width: 910px;
}

h1, h2, strong {
    line-height: 1.1;
    margin: 0;
    color: #111;
}

.tagline {
    color: #555;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    font-weight: normal;
}

h1 { margin: 0 0 0.7rem; }
h2 { margin: 1.5rem 0 1rem; }
h4 { margin: 1rem 0; }

code, pre
{
	background: #f5f7f9;
	color: #334;
}
code {
	border: 1px solid #dfdfe9;
	padding: 0px 4px;
}
pre > code {
    border: none;
    padding: 0;
}
pre {
	padding: 1rem 1.2rem;
	border-left: 2px solid #69c;
}

h3.function > a, h3.property > a, h3.table > a, h3.field > a {
    font-family: monospace;
	color: #2B5782;
    text-decoration: none;
    font-size: 0.9rem;
}

span.parameter, span.type {
    font-family: monospace;
	color: #2B5782;
    text-decoration: none;
    font-size: 1.0rem;
}
span.parameter {
	font-weight: bold;
}

li.parameter {
    margin-bottom: 1rem;
}

span.optional, span.any_type {
    font-style: italic;
    color: #777;
}

div.function, div.property, div.table, div.field {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

span.info {
    margin-right: 0.5rem;
}

div.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    position: relative;
    font-style: italic;
}

div.warn.alert {
    color: #635b31;
    background-color: #fcf8e3;
    border-color: #bdceaf;
    border-left: 2px solid #7c723e;
}

div.good.alert {
    color: #376d38;
    background-color: #dff0d8;
    border-color: #bdceaf;
    border-left: 2px solid #376d38;
}

#wrap {
    display: flex;
    flex: 1;
}
#content {
    flex: 1;
    max-width: 48rem;
}
#sidebar {
    flex: 0 0 15rem;
    margin-right: 2rem;
}

@media (max-width: 965px) {
    #sidebar { display: none; }
}

#sidebar > h2 {
    margin: 0 0 1rem;
}
#sidebar > h3 {
    margin: 1rem 0 0.5rem;
}
#sidebar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0.5rem;
}
#sidebar > ul > li {
    margin: 0.2rem 0.2rem 0.2rem 0.5rem;
    font-family: monospace;
}
#sidebar > ul > li > a, #sidebar > ul > li > span {
    font-family: monospace;
    text-decoration: none;
    font-size: 1.1rem;
}
#sidebar > ul > li > span {
	font-weight: bold;
}

#content li:not(:last-child) {
    margin-bottom: 0.5rem;
}

/* Links */
a { color: #204a87; text-decoration: none; }
a:visited { color: #2B2087; }
a:hover { text-decoration: underline; }
a:active { color: #0c1d36; }
li.dummy {
    list-style-type: none;
    -webkit-user-select: none;
}

/* Attribution styling */
.attr-wrap {
    display: flex;
    flex: 1;
}
.attr-wrap > h4 {
    flex: 0 0 8rem;
    margin-bottom: 0;
}
.attr-wrap > ul {
    flex: 1;
    padding: 2px 0;
    list-style-type: none;
    margin-bottom: 0;
}
.attr-wrap > ul > li:before {
   width: 20px;
   margin-right: 5px;
   display: inline-block;
   text-align: center;
}
ul.authors > li:before { content: "•"; }
ul.copyright > li:before { content: "©"; }

.sourcecode .comment { color: #558817; }
.sourcecode .constant { color: #a8660d; }
.sourcecode .escape { color: #844631; }
.sourcecode .keyword { color: #2239a8; font-weight: bold; }
.sourcecode .library { color: #0e7c6b !important; text-decoration: none !important; }
.sourcecode .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
.sourcecode .number { color: #a8660d; }
.sourcecode .operator { color: #2239a8; font-weight: bold; }
.sourcecode .preprocessor { color: #a33243; }
.sourcecode .prompt { color: #558817; }
.sourcecode a:link, .sourcecode a:visited { color: #272fc2; }

.two-col { display: flex; }
.two-col > :first-child { flex: 0 0 200px; margin-right: 10px; }
.two-col > :first-child > div:not(:first-child) { margin-top: 0.3rem; }
ul.triggers {
	list-style-type: none;
	padding: 0;
}
ul.triggers > li {
	font-family: monospace, sans-serif;
	color: #2B5782;
	font-weight: bold;
}

div.info > div { margin-top: 0.3rem; }
